@import '~bootstrap/scss/bootstrap';

.auth {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
}

.authenticated {
  margin: 10px;
}

* {
  font-family: monospace;
  font-size: 15px
}

body {
  background-color: #D2BD85;
}

.signIn {
  margin: 10px;
}

.signOutButton {
  justify-content: flex-end;
}

h3 {
  display: flex;
  justify-content: center;
}

.createpeaks {
  margin: 10px;
}

.signupdiv {
  margin: 10px;
}

.changepasswordiv {
  margin: 10px;
}

.updatepeak {
  margin: 10px;
}

.getonepeak {
  margin: 10px
}

.deleteonepeak {
  margin: 10px;
}

.getallpeaks {
  margin: 10px;
}
