@import '~bootstrap/scss/bootstrap';

.auth {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.signOut {
  margin-left: 10px;
}

* {
  font-family: monospace;
  font-size: 15px
}

body {
  background-color: #D2BD85;
}

.signIn {
  padding-left: 10px;
}

.signOutButton {
  justify-content: flex-end;
}

h3 {
  display: flex;
  justify-content: center;
}
